<!-- stumpp.name - modal login.njk -->
<!-- wieder modal im Sprachcafe (05.03.2025) -->
<!-- nicht modal bei assaf (09.03.2025) -->

<style>
.topmargin { margin-top:4px; }
</style>
<form>
	<div class="w3-row-padding w3-padding">
		<div class="w3-col m10">
			<div class="w3-col m12 l6 topmargin">
				<input	id="loginUser"
						onchange="loginExec_Enable();"
						onblur="loginExec_Enable();"
						class="w3-input w3-border" type="text" placeholder="Benutzer">
			</div>
			<div class="w3-col m12 l6 topmargin">
				<input	id="loginPass" 
						onchange="loginExec_Enable();"
						onblur="loginExec_Enable();"
						class="w3-input w3-border" type="password" placeholder="Kennwort">
			</div>
		</div>
		<div class="w3-col m2">
			<div class="w3-right">
				<button class="w3-button w3-green w3-disabled w3-hover-green topmargin" 
						id = "loginExec"
						onclick="loginExec_Click();"
						onmouseover="loginExec_Enable();"
						title="Anmelden">{% lucide "log-in", { "size":"20px" }  %}</button>
				<button class="w3-button w3-pale-red w3-hover-red topmargin"   
						onclick="loginClear_Click()"
						title="Anmeldung abbrechen">{% lucide "x", { "size":"20px" } %}</button>
			</div>
		</div>
	</div> 
</form>

<script>
var loginRetryCounter = 0;

function loginExec_Click() {
	const givenUser = document.getElementById('loginUser').value;
	const givenPass = document.getElementById('loginPass').value;
	//~ console.log(`user=${givenUser}`,`pass=${givenPass}`);
	if (user.logon(givenUser, givenPass)) {		/* on successful login  ... */
		signIn(true);
		//~ console.log ("success", user.name());
		
	} else {									/* if not authenticated ... */
		if (++loginRetryCounter >= 3) {
			user.logoff();	/* if logged in before, throw out after three misses */
			document.getElementById('loginUser').value = '';
			signIn(false);
		}
		/* stay in modal form if less than max retries */
	}
	loginRetryCounter = 0;
	document.getElementById('loginPass').value = '';	/* always clear pass field !! */
}

function loginClear_Click() {
	document.getElementById('loginUser').value = '';
	document.getElementById('loginPass').value = '';
	loginExec_Enable();
}

function loginExec_Enable() {
	const enabled = (document.getElementById('loginUser').value.length > 0) 
				 && (document.getElementById('loginPass').value.length > 0);
	const classList = document.getElementById('loginExec').classList
	if (enabled)
		 classList.remove('w3-disabled');
	else classList.add('w3-disabled');
}

</script>
