# Project specific ignores


# Project standard ignores 
dist
public
stash
assets

# node.js
node_modules/
build/Release
.npm

# Helpers
*.zip
*.tgz
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Don't commit temp build files
src/static/main.min.js
src/static/main.min.css
src/_includes/styles.min.css
