---
layout: main-2.njk
description: "Startseite"
format:
    Xnoheader: true
    Xnofooter: true
    topscroll: true
menuitem: "🏠"

eleventyComputed:
  list:
    - key: Demo
      val: Im Himmel ist Jahrmarkt
    - key: Referrer
      val: $ document.referrer;
    - key: URL
      val: $ document.URL;
    - key: timestamp
      val: $ new Date().toISOString();
    - key: 11ty Layout
      val: "{{ layout }}"
    - key: 11ty title
      val: "{{ title | d ('default: '+site.title) }}"
    - key: 11ty caption
      val: "{{ caption | d ('default: '+site.caption) }}"
    - key: window.location
      val: $ window.location
    - key: window.location.href
      val: $ window.location.href
    - key: window.location.search
      val: $ window.location.search
    - key: URL(window.location).searchParams.get("hello")
      val: $ "«" + new URL(window.location).searchParams.get("hello") + "»";
    - key: Environment
      val: «{{ site.host }}»
    - key: build
      val: «{{ site.built }}»
    - key: site.env
      val: «{{ site.env }}»
---

<style>
.w3-striped tbody tr:nth-child(even){background-color:var(--lime-200)}
</style>

<div>
	<h1>Startseite</h1>
	<p>Dies ist die Startseite des Projekts</p>

	<table class="w3-table w3-striped w3-bordered">
		<thead class="w3-lime"><tr>
			<th>Key</th><th>Value</th>
		</tr></thead>
		<tbody>
		{% for item in list %}
			<tr><td id="key-{{loop.index}}">{{item.key}}</td><td id="val-{{loop.index}}">{{item.val}}</td></tr>
		{% endfor %}
		</tbody>
	</table>

</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
	const elements = document.querySelectorAll('[id^="val"]');
	elements.forEach(elem => {
		const str = elem.innerText
		if (str.startsWith("$")) {
			const code = str.slice(1);
			try {
				const result = eval(code); // execute the JS code
				console.log("Result:", result);
				document.getElementById(elem.id).innerText = result;
				return result;
			} catch (e) {
			  document.getElementById(elem.id).innerText = "Error executing code: " + e;
			}
		}
	});
});

function myFunction() {
  console.log("DOM is ready, images may not be loaded yet!");
}
</script>
