---
permalink: "/static/{{ page.fileSlug | slug }}.js"
---
{% include "./_library/main.js" %}
{% include "./_library/common/decryption.js" %}
{% include "./_library/common/utility.js" %}
{% include "./_library/common/sjcl.min.js" %}	<!-- standard lib:  SHA Verschlüsselung -->
{% include "./_library/sha.js" %}				<!-- alternate lib: SHA Hashes -->

