---
permalink: "/static/{{ page.fileSlug | slug }}.js"
---
{% include "./_library/sha.js" %}	<!-- standard lib: SHA Verschlüsselung -->
{% include "./_library/main.js" %}
{% include "./_library/utility.js" %}

