/***
 *	colors.css 
 *
 *	Copyright 2024 Michael Stumpp (michael@stumpp.name)
 * Korrekturen 18.12.2024
 *
 */

:root {
	--lime-50:  #f7fee7;
	--lime-100: #ecfccb;
	--lime-200: #d9f99d;		/* w3-pale-lime		*/
	--lime-300: #bef264;
	--lime-400: #a3e635;		/* w3-lime			*/
	--lime-500: #84CC16;
	--lime-600: #65a30d;
	--lime-700: #4d7c0f;		/* w3-dark-lime		*/
	--lime-800:	#3f6212; 		
	--lime-900: #365314;

	--blue-500: #3b82f6;

	--stone-200: #e7e5e4;		/* w3-pale-stone	*/
	--stone-500: #78716C;		/* w3-stone			*/
	--stone-800: #292524;		/* w3-dark-stone	*/

	--slate-500: #64748B;
}

/*** ************************************************************** ***/
/*** Color definitions 												***/

/** Neudefinition der Farbe 'lime' **/
.w3-lime,.w3-hover-lime:hover{color:#000!important;background-color:var(--lime-400)!important}
.w3-text-lime,.w3-hover-text-lime:hover{color:var(--lime-400)!important}
.w3-border-lime,.w3-hover-border-lime:hover{border-color:var(--lime-400)!important}
/** Ergänzung der Farben 'pale-lime' und 'dark-lime' **/
.w3-pale-lime,.w3-hover-pale-lime:hover{color:#000!important;background-color:var(--lime-200)!important}
.w3-text-pale-lime,.w3-hover-text-pale-lime:hover{color:var(--lime-200)!important}
.w3-border-pale-lime,.w3-hover-border-pale-lime:hover{border-color:var(--lime-200)!important}
.w3-dark-lime,.w3-hover-dark-lime:hover{color:#fff!important;background-color:#var(--lime-700)!important}
.w3-text-dark-lime,.w3-hover-text-dark-lime:hover{color:#var(--lime-700)!important}
.w3-border-dark-lime,.w3-hover-border-dark-lime:hover{border-color:#var(--lime-700)!important}

/** Ergänzung der Farbe 'pale-gray' **/
.w3-pale-gray,w3-pale-gray:hover{color:#000!important;background-color:#ccc!important}
.w3-text-pale-gray,.w3-hover-text-pale-gray:hover{color:#ccc!important}
.w3-border-pale-gray,.w3-hover-border-pale-gray:hover{border-color:#ccc!important}

/** Ergänzung der Farbe 'stone' **/
.w3-pale-stone,.w3-hover-pale-stone:hover{color:#000!important;background-color:var(--stone-200)!important}
.w3-text-pale-stone,.w3-hover-text-pale-stone:hover{color:var(--stone-200)!important}
.w3-border-pale-stone,.w3-hover-border-pale-stone:hover{border-color:var(--stone-200)!important}

.w3-stone,.w3-hover-stone:hover{color:#000!important;background-color:var(--stone-500)!important}
.w3-text-stone,.w3-hover-text-stone:hover{color:var(--stone-500)!important}
.w3-border-stone,.w3-hover-border-stone:hover{border-color:var(--stone-500)!important}

.w3-dark-stone,.w3-hover-dark-stone:hover{color:#fff!important;background-color:var(--stone-800)!important}
.w3-text-dark-stone,.w3-hover-text-dark-stone:hover{color:var(--stone-800)!important}
.w3-border-dark-stone,.w3-hover-border-dark-stone:hover{border-color:var(--stone-800)!important}

/*** ************************************************************** ***/
